<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>Name</key>
	<string>A Swift Kickstart (Start)</string>
	<key>ContentIdentifier</key>
	<string>com.editorscut.a-swift-kickstart-2.Start</string>
	<key>DeploymentTarget</key>
	<string>ios10.0</string>
	<key>Chapters</key>
	<array>
		<string>Chapter1.playgroundchapter</string>
		<string>Chapter2.playgroundchapter</string>
	</array>
</dict>
</plist>
