<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Collections</string>
	<key>Pages</key>
	<array>
		<string>Page1.playgroundpage</string>
		<string>Page2.playgroundpage</string>
		<string>Page3.playgroundpage</string>
		<string>Page4.playgroundpage</string>
		<string>Page5.playgroundpage</string>
		<string>Page6.playgroundpage</string>
		<string>Page7.playgroundpage</string>
		<string>Page8.playgroundpage</string>
		<string>Page9.playgroundpage</string>
		<string>Page10.playgroundpage</string>
		<string>Page11.playgroundpage</string>
	</array>
</dict>
</plist>
